.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0e0e0e;
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

input {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 250px;
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Main menu button styles */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-button {
  background-color: #c9b812;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0;
  width: 50%;
  max-width: 250px;
}

.main-button:active {
  background-color: #e3d850;
  box-shadow: none;
}